@font-face {
  font-family: 'Cursed';
  src: url(assets/fonts/CursedTimerUlil-Aznm.ttf);
}

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #111827;
  --gray: #a9a9a9f8;
  --white: #e5e7eb;
  --red: #e11d48;
}

/* TYPOGRAPHY SETTINGS*/
h3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.3rem;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
}

#home-points,
#guest-points,
.btn-home,
.btn-guest {
  font-family: 'Cursed', sans-serif;
}

/* END TYPOGRAPHY SETTINGS*/

body {
  background-image: url(assets/images/ball.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 75%;
  min-width: 350px;
  max-width: 700px;
  background-color: var(--gray);
  display: flex;
  justify-content: center;
  /* 70px  85px*/
  padding: 4.375rem 5.3125rem;
}

.container-points p {
  max-width: 2ch;
  overflow: hidden;
  align-self: center;
  margin-top: 0.375rem;
}

#guest-points,
#home-points {
  padding: 2rem;
  /* 5px */
  border-radius: 0.3125rem;
  background-color: var(--black);
  display: flex;
  justify-content: center;
  color: var(--red);
  /* 20px */
  margin: 1.25rem 0;
  font-size: 4rem;
}

.container-points > div:nth-of-type(2) {
  margin-top: 3rem;
}

button {
  /* 12px */
  padding: 0.75rem;
  /* 5px */
  border-radius: 0.3125rem;
  background-color: transparent;
  border-color: var(--black);
  color: var(--black);
  cursor: pointer;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 48rem) {
  body {
    background-image: url(assets/images/basket.jpg);
  }
  .container-points {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .container-points > div:nth-of-type(2) {
    margin-top: 0;
  }
}
